src/
target/
build/
out/
*.war
*.class

.mvn/
.mvnw
mvnw.cmd

.git/
.gitignore
.gitattributes

*.iml
.idea/
.vscode/
*.swp
*.swo
*.bak
*.log

Jenkinsfile
ansible.cfg
inventory.ini
playbook.yml
pom.xml
.dockerignore
Dockerfile
README.md
report.pdf