src/
target/
*.class

.mvn/
.mvnw
mvnw.cmd
.git/
.gitignore
.gitattributes
.vscode/
*.log

Jenkinsfile
inventory.ini
playbook.yml
pom.xml
.dockerignore
Dockerfile
README.md
report.pdf

!target/calculator-1.0.jar